extends layout.pug
block content
  h1 a bakery for the common man
    h5 built with butter, floured with love
      p We make the best breaded creatures to ever roam your stomach!
      img(src='https://s-media-cache-ak0.pinimg.com/originals/39/f8/cb/39f8cb6fc77937bdbdc3d45c36279e92.jpg')
