doctype html
html
  head
    title bakery!
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans")
    link(rel='stylesheet' href='/css/main.css')

  body
    include nav.pug

  block content
