- var param = url
mixin link(href, name)
  a(href=href)&attributes(attributes)= name


case  param
  when '/home'
    +link('/about', 'about')
    +link('/inventory', 'inventory')
  when '/about'
    +link('home', 'home')
    +link('inventory', 'inventory')
  when '/inventory'
    +link('/home','home')
    +link('/about','about')
  default
    +link('/home','home')
    +link('/about','about')

h1 #{url}
